src/pug/index.pug
extends layout/app
include mixins/index

block page
  .dropdown-wrapper.js-dropdown-wrapper
    button.dropdown-trigger.js-dropdown-trigger(type='button')
      +insertSvg('plus')
      span.dropdown-trigger__text Выбрать ещё

    include chunk/dropdown

public/index.html
<!DOCTYPE html><html lang="ru">  <head>    <meta charset="UTF-8">    <meta http-equiv="X-UA-Compatible" content="ie=edge">    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">    <title>Document</title>    <link rel="stylesheet" href="css/main.min.css">  </head>  <body>    <div class="dropdown-wrapper js-dropdown-wrapper">      <button class="dropdown-trigger js-dropdown-trigger" type="button">        <svg class="icon icon-plus" role="img">          <use xlink:href="svg/symbol/svg/sprite.symbol.svg#plus"></use>        </svg><span class="dropdown-trigger__text">Выбрать ещё</span>      </button>      <div class="dropdown level-list-wrapper js-dropdown js-level-list-wrapper"></div>    </div>    <script src="js/main.js"></script>  </body></html>
